<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css" >
</head>
<body>
  <nav>
    <ul class="nav_list">
      <li><a href="/pizzas">All Orders</a></li>
      <li><a href="/pizzas/new">New Order</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
